pipeline/3 - ppl_get_metadata.json
{
	"name": "3 - ppl_get_metadata",
	"properties": {
		"activities": [
			{
				"name": "GTM - Busca Arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_text_dls",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "@pipeline().parameters.p_container_origem",
								"type": "Expression"
							},
							"p_diretorio": {
								"value": "@pipeline().parameters.p_diretorio",
								"type": "Expression"
							},
							"p_arquivo": "*.csv",
							"p_delimitador": {
								"value": "@pipeline().parameters.p_delimitador",
								"type": "Expression"
							}
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SVB - lista de arquivos",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GTM - Busca Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lista_arquivos",
					"value": {
						"value": "@activity('GTM - Busca Arquivos').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_container_origem": {
				"type": "string"
			},
			"p_diretorio": {
				"type": "string"
			},
			"p_arquivo": {
				"type": "string"
			},
			"p_delimitador": {
				"type": "string"
			}
		},
		"variables": {
			"v_lista_arquivos": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "study activities"
		},
		"annotations": []
	}
}