adf-bootcamp-prd-wsy/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-bootcamp-prd-wsy"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RB - Ingestao Generica - Dummy JS - Web API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SVB - Definir data_particao",
						"description": "Atribui um valor à variável [v_data_particao]. ",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_data_particao",
							"value": {
								"value": "@convertFromUtc(utcnow(), 'E. South America Standard Time', 'yyyy/MM/dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVB - Definir diretorio_completo",
						"description": "Atribui um valor à variável [v_diretorio_completo], a partir da concatenação do diretório destino, da coleção de origem e da data de partição.",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SVB - Definir diretorio_destino",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SVB - Definir data_particao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_diretorio_completo",
							"value": {
								"value": "@toLower(\n    concat(\n        variables('v_diretorio_destino'),\n        '/', \n        pipeline().parameters.p_colecao_origem,\n        if(\n            empty(variables('v_data_particao')),\n            '',\n            concat('/', variables('v_data_particao'))\n        )\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVB - Definir arquivo_destino",
						"description": "Atribui um valor à variável [v_arquivo_destino], a partir da concatenação da coleção de origem e da data de partição.",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SVB - Definir data_particao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_arquivo_destino",
							"value": {
								"value": "@toLower(\n    concat(\n        pipeline().parameters.p_colecao_origem,\n        '__', \n        if(\n            empty(variables('v_data_particao')),\n            formatDateTime(utcNow(), 'yyyyMMdd'),\n            replace(variables('v_data_particao'), '/', '')\n        )\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVB - Definir diretorio_destino",
						"description": "Atribui um valor à variável [v_diretorio_destino]. \nSe o parâmetro [p_diretorio_destino] estiver preenchido, atribui o valor dele, senão, atribui um valor default.",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_diretorio_destino",
							"value": {
								"value": "@toLower(\n    if(\n        empty(pipeline().parameters.p_diretorio_destino),\n        'web_api/dummy_js',\n        pipeline().parameters.p_diretorio_destino\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVB - Definir rascunho_nome_tabela_delta",
						"description": "Atribui um valor à variável [v_rascunho_nome_tabela_delta], a partir da concatenação do diretório de destino e da coleção de origem.",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SVB - Definir diretorio_destino",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_rascunho_nome_tabela_delta",
							"value": {
								"value": "@toLower(\n    concat(\n        variables('v_diretorio_destino'),\n        '/',\n        pipeline().parameters.p_colecao_origem\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "NTB - Ingestao - Bronze",
						"description": "Executa um notebook genérico para ingestão da coleção na camada Bronze.",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CPD - Ingestao - Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/weslley_estudos@outlook.com/adb-bootcamp-prd-wsy/delta/bronze/web_api/dummy_js/generico_json",
							"baseParameters": {
								"pn_diretorio_raw": {
									"value": "@variables('v_diretorio_completo')",
									"type": "Expression"
								},
								"pn_data_particao": {
									"value": "@variables('v_data_particao')",
									"type": "Expression"
								},
								"pn_arquivo": {
									"value": "@variables('v_arquivo_destino')",
									"type": "Expression"
								},
								"pn_rascunho_nome_tabela_delta": {
									"value": "@variables('v_rascunho_nome_tabela_delta')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_bootcamp",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CPD - Ingestao - Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SVB - Definir arquivo_destino",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SVB - Definir diretorio_completo",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SVB - Definir rascunho_nome_tabela_delta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 2
						},
						"inputs": [
							{
								"referenceName": "ds_json_api_dummy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_json_dls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": {
										"value": "@pipeline().parameters.p_container_destino",
										"type": "Expression"
									},
									"p_diretorio": {
										"value": "@variables('v_diretorio_completo')",
										"type": "Expression"
									},
									"p_arquivo": {
										"value": "@variables('v_arquivo_destino')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"concurrency": 30,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_container_destino": {
						"type": "string",
						"defaultValue": "raw"
					},
					"p_diretorio_destino": {
						"type": "string",
						"defaultValue": "web_api/dummy_js"
					},
					"p_data_particao": {
						"type": "string"
					},
					"p_colecao_origem": {
						"type": "string",
						"defaultValue": "users"
					},
					"p_formato_data_particao": {
						"type": "string",
						"defaultValue": "D"
					},
					"p_tipo_carga": {
						"type": "string",
						"defaultValue": "I"
					},
					"p_rb_etapa_ingestao": {
						"type": "string"
					},
					"p_data_inicio_carga": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_particao": {
						"type": "String"
					},
					"v_diretorio_destino": {
						"type": "String"
					},
					"v_arquivo_destino": {
						"type": "String"
					},
					"v_diretorio_completo": {
						"type": "String"
					},
					"v_rascunho_nome_tabela_delta": {
						"type": "String"
					},
					"v_filtro_origem": {
						"type": "String"
					},
					"v_selecao_coluna": {
						"type": "String"
					},
					"v_etapa_bronze": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "2.3 Raw e Bronze/Web API/Dummy JS"
				},
				"annotations": [
					"@pipeline().parameters.p_colecao_origem"
				],
				"lastPublishTime": "2022-05-11T11:13:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SV - User App - Web Application - Customer Success')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NTB - Tratamento - Silver",
						"description": "Executa um notebook para tratar os dados na camada Silver.",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/weslley_estudos@outlook.com/adb-bootcamp-prd-wsy/notebooks/delta/silver/customer_sucess/web_application/users_app"
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_bootcamp",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 30,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_container_destino": {
						"type": "string",
						"defaultValue": "landing"
					},
					"p_diretorio_destino": {
						"type": "string",
						"defaultValue": "web_api/dummy_js"
					},
					"p_data_particao": {
						"type": "string"
					},
					"p_colecao_origem": {
						"type": "string",
						"defaultValue": "users"
					},
					"p_formato_data_particao": {
						"type": "string",
						"defaultValue": "D"
					},
					"p_tipo_carga": {
						"type": "string",
						"defaultValue": "I"
					},
					"p_rb_etapa_ingestao": {
						"type": "string"
					},
					"p_data_inicio_carga": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_particao": {
						"type": "String"
					},
					"v_diretorio_destino": {
						"type": "String"
					},
					"v_arquivo_destino": {
						"type": "String"
					},
					"v_diretorio_completo": {
						"type": "String"
					},
					"v_rascunho_nome_tabela_delta": {
						"type": "String"
					},
					"v_filtro_origem": {
						"type": "String"
					},
					"v_selecao_coluna": {
						"type": "String"
					},
					"v_etapa_bronze": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "2.2 Silver/Customer Sucess/Web Application"
				},
				"annotations": [
					"@pipeline().parameters.p_colecao_origem"
				],
				"lastPublishTime": "2022-05-11T11:13:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_azure')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureSql_bootcamp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_esquema": {
						"type": "string"
					},
					"p_tabela": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Azure SQL Database/Core Financeiro"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_esquema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_tabela",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_webtable_salariominimo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_webtable_bootcamp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Fontes Externas"
				},
				"annotations": [],
				"type": "WebTable",
				"schema": [],
				"typeProperties": {
					"index": 0
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0 - ppl_web_scraping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPD - Ingestao Raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "WebSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Período",
											"type": "String"
										},
										"sink": {
											"name": "periodo",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salário mínimo nominal",
											"type": "String"
										},
										"sink": {
											"name": "salario_minimo_nominal",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salário mínimo necessário",
											"type": "String"
										},
										"sink": {
											"name": "salario_minimo_necessario",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_webtable_salariominimo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_text_dls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "raw",
									"p_diretorio": "web_scraping/salario_minimo",
									"p_arquivo": "valores_salario_minimo",
									"p_delimitador": ";"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-03T23:53:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_webtable_salariominimo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GD - User Profile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PPL - Dim",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "GD - Dim - User Profile",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PPL - Fat",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PPL - Dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "GD - Fat - User Profile",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2.1 Gold/User Profile"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/8 - ppl_orquestrador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "scraping",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "0 - ppl_web_scraping",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "api",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "scraping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1 -ppl_copy_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/0 - ppl_web_scraping')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MN - Layers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PPL - Raw Bronze",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RB - Ingestao Generica - Dummy JS - Web API",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PPL - Silver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PPL - Raw Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SV - User App - Web Application - Customer Success",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PPL - Gold",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PPL - Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "GD - User Profile",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "0 - Main"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RB - Ingestao Generica - Dummy JS - Web API')]",
				"[concat(variables('factoryId'), '/pipelines/SV - User App - Web Application - Customer Success')]",
				"[concat(variables('factoryId'), '/pipelines/GD - User Profile')]"
			]
		}
	]
}